// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.go-to-order{
}
.destroy_all{
    margin-left: 85%;
}
.cart-table{
    margin-top: 30px;
}
.row h2{
    vertical-align: bottom;
}
.empty-cart{
    justify-content:flex-end;
}
.row a.btn.btn-danger{
    margin-left: 900px;
    justify-content:flex-end;
}
.row a.btn.btn-success.go-to-order{
    margin-left: 350px;
}
