// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

img{
  max-width: 50%;
  text-align: center;
}

.recommend h6{
    padding-top: 40px;
    justify-content: center;
}

.login-row {
  height: 500px;
  width: 840px; /* 横幅840px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto;
}
/*aboutページ*/
.about_title{
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}

.about_title h1{
  text-align: center;
  position: relative;
}
.firs-view{
  height: calc(100vh - 110px);
  background_image: url("../app/aseets/images/homes_top.jpg");
  background_repeat: no-repeat;
  background_position: center center;
  background_size: cover;
  display: flex;
  align-items: center;
}
