<div class="container">
    <div class="row">
        
        <h2>ジャンル一覧・追加</h2>
        
        <%= form_for (@genre, url: admin_genres_path) do |f| %> <!--form_forの引数には、モデルクラスのインスタンスを指定する。主にテーブルレコードを新規作成、更新するときに利用する。()は、なくても良い。https://pikawaka.com/rails/form_forを参照。-->
        <div class="field row"> <!-- field row????? -->
            
        </div>
    </div>
</div>