@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


 table {
    width: 100%;
    table-layout: fixed;
  }

  .c {
    height: 500px;
    width :100%;
  }
  
 .sample img{
  	width: 30%;
  	height: 30%;
  }